body {
    width: 100%;
    margin: 0;
}
form {
    max-width: 100%;
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    justify-content: center;
    .form_container {
        align-self: center;
        input, select {
            padding: 7px;
            border: 1px solid BurlyWood;
            border-radius: 5px;
            color: dimgray;
        }
        button {
            background-color: burlywood;
            padding: 10px;
            border-radius: 5px;
            color: white;
            border: none;
            outline: none;
            margin-left: 7px;
            cursor: pointer;
        }
        label {
            font-weight: 600;
            color: dimgray;
        }
    }
}
.result {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    h2 {
        margin: 5px 0;
        color: dimgray;
    }
    p {
        font-size: 1.3rem;
        color: dimgray;
    }
}